<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <Properties>
        <property name="patternLayout">[Lypxc][%level][%t][%d{yyyy-MM-dd HH:mm:ss}] - [%m] - %F\:\:%M%n</property>
    </Properties>
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="INFO" onMatch="ACCEPT"
                             onMismatch="DENY"/>
            <PatternLayout pattern="${patternLayout}"/>
        </Console>
    </appenders>
    <loggers>
        <root level="INFO" includeLocation="true">
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>